
body {
    background-color:rgb(253, 255, 235);
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.header-container img {
    padding: 15px;
    border-radius: 30px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 90px;
    justify-content: center;
}
.nav-list a {
    display: inline;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight:400;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.nav-bar {
    background-color: rgba(0, 0, 0, 0.658);
    border: solid 1px black;
    border-radius: 50px;
    margin-left: 40px;
    margin-right: 40px;
    
}